<app-header [title]=""></app-header>



  <main class="container">
    <div class="row">

    <h1>{{ ticketList }}</h1>
    <br>
    <div>
            <a routerLink="/landing/tickets.component" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> 
                Open New Ticket
            </a> 
        </div>           
    </div>
    
    
    <!-- <div class="table-responsive" *ngIf="this.repository.listReady == true"> -->
        <table class="table table-bordered table-striped table-hover">  

            <tr>
                <th class="text-center">Date</th>                    
                <th class="text-center">Description</th>
                <th class="text-center">Complete</th>
                <th class="text-center" colspan="3">Actions</th>
            </tr>

            <tr *ngFor="let data of ticketList">
            <!-- <% for(let i = 0; i < landingList.length; i++) { }} -->
                    <td class="text-center"> {{ data.date }}</td>
                    <td class="text-center"> {{ data.description }}</td>
                    <td class="text-center"> {{ data.complete }}</td>                        
                    <td class="text-center">
                        <a routerLink="/landing/tickets.component/ {{ data._id }}" class="btn btn-success btn-sm"> 
                        <i class="fas fa-info"></i> </a>
                    </td>
                    <td class="text-center">
                        <!-- <a routerLink="/landing/edit/ {{ data._id }}" class="btn btn-primary btn-sm" role="button"> -->
                        <button [routerLink]="['/tickets/edit', data._id]" class="btn bg-primary btn-primary btn-sm"></button>
                        <i class="fas fa-pencil-alt"></i>
                    </td>
                    <td class="text-center">
                        <!-- <a routerLink="/landing/delete/ {{ data._id }}" class="btn btn-danger btn-sm" role="button"> -->
                        <a (click)="deleteMethod(data._id)" class="btn bg-danger btn-danger btn-sm">
                        <i class="fas fa-trash-alt"></i></a>
                        
                        
                    </td>
                </tr>
            <!-- <% } }} -->
        </table>
   
  </main>
  
  <app-footer></app-footer>