  <!-- Main Navbar -->
  <nav class="navbar fixed-top navbar-expand-sm bg-dark navbar-dark">
    <!-- Logo -->
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/assets/logo.png" alt="logo" style="width:40px;">
      </a>

      <ul class="navbar-nav">
        <li class="nav-item">
         
          <a class="nav-link" [class.active]= "title == 'Home'" href="/">
         
              <i class="fas fa-home"></i> Home 
          </a>
        </li>

      </ul>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
      






            <li class="nav-item">  
              <a *ngIf="auth.username != null" class="nav-link" routerLink="" (click)="logout()">Sign Out ({{ auth.username }})</a>
              <a *ngIf="auth.username == null" class="nav-link" routerLink="/users/signin"><i class="fa-solid fa-arrow-right-to-bracket"></i> Sign In</a>

            </li> 
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <br>
    <br>
